@import "../utils/vars.css";

.container {
  width: 100%;
  max-width: 750px;
  background-color: var(--white);
  border-top-left-radius: var(--border-radius--large);
  border-top-right-radius: var(--border-radius--large);

  display: grid;
  justify-content: space-between;
  grid-template-areas:
    "bill"
    "tip"
    "people"
    "total";
  grid-template-columns: 100%;
  padding: 2.5rem;
}

@media (min-width: 1000px) {
  .container {
    max-width: 1000px;
    border-radius: var(--border-radius--large);
    grid-template-areas:
      "bill total"
      "tip total"
      "people total";
    grid-template-columns: 48% 48%;
  }

  .container > * {
    width: 50%;
    max-width: 430px;
  }
}
