.fieldset {
  margin: 1rem 0;
  width: 100%;
  position: relative;
}

.fieldset__label {
  margin-bottom: 0.5rem;
  display: block;
}

.fieldset__input {
  width: 100%;
}

.fieldset__icon {
  position: absolute;
  bottom: calc((56px - 17px) / 2);
  left: 1rem;
}

.fieldset__error {
  position: absolute;
  right: 0;
  top: 0.5rem;
  color: var(--error);
  opacity: 1;
  transition: all 0.2s linear;
}

.fieldset__error.visible {
  opacity: 1;
}
