@import "../utils/vars.css";

.result-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--neutral-dark);
  color: var(--white);
  border-radius: var(--border-radius--medium);
  padding: 2.5rem;
  margin: 1rem 0;
}

.result__btn {
  margin-top: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
}

@media (min-width: 1000px) {
  .result__btn {
    margin-top: auto;
  }
}
