.form--tip {
  margin: 1rem 0;
  width: 100%;
}

.form--tip__label {
  margin-bottom: 0.5rem;
}

.form--tip__icon {
  position: absolute;
  bottom: 13.5px;
  left: 1rem;
}

.form--tip__btn-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 0.5rem));
  gap: 1rem;
}

@media (min-width: 1000px) {
  .form--tip__btn-container {
    grid-template-columns: repeat(3, calc((100% - 1.8rem) / 3));
  }
}
