.fieldset--tip {
  margin: 1rem 0;
  width: 100%;
  max-width: 1000px;
  grid-area: tip;
}

.fieldset--tip__input.active {
  background-color: var(--primary-color);
}

.fieldset--tip__label {
  margin-bottom: 0.5rem;
}

.fieldset--tip__icon {
  position: absolute;
  bottom: 13.5px;
  left: 1rem;
}

.fieldset--tip__btn-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 0.5rem));
  gap: 1rem;
}

@media (min-width: 1000px) {
  .fieldset--tip__btn-container {
    grid-template-columns: repeat(3, calc((100% / 3) - 1.5rem));
  }
}
