:root {
  --primary-color: hsl(172, 67%, 45%);
  --primary-color--hover: hsl(172, 83%, 67%);

  --neutral-dark: hsl(183, 100%, 15%);
  --neutral-medium--1: hsl(186, 14%, 43%);
  --neutral-medium--2: hsl(184, 14%, 56%);
  --neutral-light--1: hsl(185, 41%, 84%);
  --neutral-light--2: hsl(189, 41%, 97%);

  --white: hsl(0, 0%, 100%);

  --primary-fontSize: 24px;
  --border-radius--small: 3px;
  --border-radius--medium: 15px;
  --border-radius--large: 25px;

  --desktop: 1000px;
}
