@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import "./utils/vars.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  color: var(--neutral-dark);
}

img {
  display: block;
  max-width: 100%;
}

input {
  font-size: 24px;
  background-color: var(--neutral-light--2);
  color: var(--neutral-dark);
  font-family: inherit;
  border: 2px solid transparent;
  border-radius: var(--border-radius--small);
  padding: 0.5rem 1.5rem 0.5rem 0;
  font-weight: 700;
  transform: all 0.2s linear;
  text-align: end;
}

::placeholder {
  color: var(--neutral-medium--1);
}

input:focus,
input:active,
input:hover {
  outline: none;
  border: 2px solid var(--primary-color--hover);
  cursor: pointer;
}

input.error {
  border-color: var(--error);
}

form {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

button {
  display: inline-block;
  border: none;
  color: var(--white);
  background-color: var(--neutral-dark);
  font-family: inherit;
  font-size: var(--primary-fontSize);
  padding: 0.5rem 0;
  border-radius: var(--border-radius--small);
  cursor: pointer;
  transition: all 0.2s linear;
}

button:active,
button:focus {
  outline: none;
}

button:hover {
  background-color: var(--primary-color--hover);
  color: var(--neutral-dark);
}

button.default {
  color: var(--neutral-dark);
  background-color: var(--primary-color);
}

button.default:hover {
  background-color: var(--primary-color--hover);
}
